.todo {
    margin: 20px;
    padding: 10px;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid black;
    font-size: 22pt;
}
.title {
    display: inline;
    text-decoration: none;
}

.title:hover {
    cursor: pointer;
    text-decoration: aqua line-through;
}

.btns {
    display: inline;
    float: right;
}

button {
    display: inline;
    background-color: #f3f378;
    margin-right: 10px;
    border: none;
    outline: none;
    vertical-align: middle;
    font-family: inherit;
    font-size: 14pt;
}

button:hover {
    background-color: #f3f3b4;
    cursor: pointer;
}